<div class="nested-fields">
  <%# <h2>本: <%= book.index+1 %></h2> %>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :content %>
    <%= f.text_field :content %>
  </div>      
</div>
