<div class="container">
  <div class="task-show">
    <h1>タスク詳細</h1>

    <div class="task-info">
      <ul>
        <li><strong>タイトル:</strong> <%= @task.title %></li>
        <li><strong>内容:</strong> <%= @task.content %></li>
        <li><strong>終了期限:</strong> <%= @task.deadline %></li>
        <li><strong>ステータス:</strong> <%= @task.status %></li>
        <li><strong>優先順位:</strong> <%= @task.priority %></li>
      </ul>
    </div>

    <div class="menus">
      <%= link_to "edit", edit_task_path %>
      <%= link_to "back", tasks_path %>
    </div>
  </div>
</div>
